- @menu_up_item = 'menus_main'

- @title='Ощутить счастье'



#title_text
  
- @menus.take(3).reverse.each do |menu|
  = link_to "../../../../../../../../../../../../about/#{menu.translit}" do
    %div{id: menu.name}      





