- @menu_up_item = 'menus_main'

- @title='Ощутить счастье'



#main_block

  #title_text
  
  - @menus.take(3).each do |menu|
    = link_to "../../../../../../../../../../../../about/#{menu.translit}" do
      %div{id: menu.name}      





