%meta{content: 'vitalina.liane@gmail.com', name: 'author'}/
%meta{content: 'Vitalina Vakulchyk', name: 'author'}/
%meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/

%meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}

%meta{content: 'becf6957ba9d4519dcc2633c24ec215a', name: 'interkassa-verification'}/
<meta name="interkassa-verification" content="becf6957ba9d4519dcc2633c24ec215a" />


= csrf_meta_tags

%title
  Создать пару++ 
  
  - if @title
    = @title
  - else
    Хочу счастья


-#= javascript_include_tag 'application', 'data-turbolinks-track' => true


/[if IE]
  %script{type: 'text/javascript', src: 'http://html5shiv.googlecode.com/svn/trunk/html5.js'}

