= render partial: 'layouts/head/meta'
= render partial: 'layouts/head/prerender'

= csrf_meta_tags


%title
  Создать пару++ 
  
  - if @title
    = @title
  - else
    Хочу счастья


-#= javascript_include_tag 'application', 'data-turbolinks-track' => true


/[if IE]
  %script{type: 'text/javascript', src: 'http://html5shiv.googlecode.com/svn/trunk/html5.js'}

