%meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/

%meta{content: 'bereg.beseda@gmail.com', name: 'author'}/

%meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}


