%meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/

%meta{content: 'vitalina.liane@gmail.com', name: 'author'}/
%meta{content: 'Vitalina Vakulchyk', name: 'author'}/

%meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}


