/ Firefox
%link{href: '/images/bred.png', rel: 'prefetch'}/
/ Chrome  
%link{href: '/images/bred.png', rel: 'prerender'}/



%link{href: '/images/fond_main/forest_original.jpg', rel: 'prefetch'}/
%link{href: '/images/fond_main/forest_original.jpg', rel: 'prerender'}/

%link{href: '/images/fond_main/forest_white_blur_50_opacity.jpg', rel: 'prefetch'}/
%link{href: '/images/fond_main/forest_white_blur_50_opacity.jpg', rel: 'prerender'}/



%link{href: '/images/menu_main/title_text.png', rel: 'prefetch'}/
%link{href: '/images/menu_main/title_text.png', rel: 'prerender'}/

%link{href: '/images/menu_main/life_text1.png', rel: 'prefetch'}/
%link{href: '/images/menu_main/life_text1.png', rel: 'prerender'}/

%link{href: '/images/menu_main/life_text2.png', rel: 'prefetch'}/
%link{href: '/images/menu_main/life_text2.png', rel: 'prerender'}/



%link{href: '/images/menu_main/creation_text1.png', rel: 'prefetch'}/
%link{href: '/images/menu_main/creation_text1.png', rel: 'prerender'}/

%link{href: '/images/menu_main/creation_text2.png', rel: 'prefetch'}/
%link{href: '/images/menu_main/creation_text2.png', rel: 'prerender'}/

%link{href: '/images/menu_main/habit_text1.png', rel: 'prefetch'}/
%link{href: '/images/menu_main/habit_text1.png', rel: 'prerender'}/

%link{href: '/images/menu_main/habit_text2.png', rel: 'prefetch'}/
%link{href: '/images/menu_main/habit_text2.png', rel: 'prerender'}/





