#main_block 
  width:      350px
  text-align: center
  
  position: absolute  
  top: 0
  left: 0  
  
  background:      asset_url('bred.png')
  background-size: 100% 100%     



#title_text 
  width:  350px
  height: 107px

  background:      asset_url('menu_main/title_text.png')
  background-size: 100% 100%    
  
  
  
#life
  width:  350px
  height: 76px  
  
  background:      asset_url('menu_main/life_text1.png')
  transition:      background .5s ease
  background-size: 100% 100%       
  
  
  &:hover, 
  &:focus 
    background: asset_url('menu_main/life_text2.png')
  
  &:active 
    background: asset_url('menu_main/life_text1.png')  



#creation
  width:  350px
  height: 131px  
  
  background:      asset_url('menu_main/creation_text1.png')
  transition:      background .5s ease
  background-size: 100% 100%       
  
  
  &:hover, 
  &:focus 
    background: asset_url('menu_main/creation_text2.png')
  
  &:active 
    background: asset_url('menu_main/creation_text1.png')  
  


#habit
  width:  350px
  height: 136px  
  
  background:      asset_url('menu_main/habit_text1.png')
  transition:      background .5s ease
  background-size: 100% 100%       
  
  
  &:hover, 
  &:focus 
    background: asset_url('menu_main/habit_text2.png')
  
  &:active 
    background: asset_url('menu_main/habit_text1.png')  
    
  
