%link{href: 'http://www.psysite.herokuapp.com/assets/bred-c61f10a528a1d976ac87b1e55cc8684126f3aa3412a1836da6f5d4771019c3fd.png', rel: 'prefetch'}/
%link{href: 'http://www.psysite.herokuapp.com/assets/menu_main/title_text-63432957bf620223eac7dc695cd2dddf066bef05c6fff587e5eb158d6424ab6d.png', rel: 'prefetch'}/

%link{href: 'http://www.psysite.herokuapp.com/assets/menu_main/life_text1-9ef7669e00896e8ac5dddad36f1c39b51739192306dbbcc3db5d1f5785849fdc.png', rel: 'prefetch'}/
%link{href: 'http://www.psysite.herokuapp.com/assets/menu_main/life_text2-68cf884149c57a41c17ba7cb13aab2970972a453112873e56bc99a933bb49661.png', rel: 'prefetch'}/

%link{href: 'http://www.psysite.herokuapp.com/assets/menu_main/creation_text1-a2aaf3e81c48e574d4bc85c56d0be9172e29d89ae70b9816ad06bcdb154674c2.png', rel: 'prefetch'}/
%link{href: 'http://www.psysite.herokuapp.com/assets/menu_main/creation_text2-087ec360ec7b262808007ffa00750b7a192751cc841694b2264902ab863bb9a2.png', rel: 'prefetch'}/

%link{href: 'http://www.psysite.herokuapp.com/assets/menu_main/habit_text1-4e1d9a54f492f3047a19007b0d2e4d055f2a7e0f19356e2ce744a805c17423a4.png', rel: 'prefetch'}/
%link{href: 'http://www.psysite.herokuapp.com/assets/menu_main/habit_text2-a8b1318c8f94a4fcd02b8dffbf218dabaff67e294fdce424b0b8677d26edc4f5.png', rel: 'prefetch'}/

