!!!
%html
  %head
    = render partial: 'layouts/head/head'
    
  %body
  
    #fond_green_layer
    = image_tag 'fond_main/forest_original.jpg', id: 'fond_forest_main', alt: 'Умиротворяющий лес'

    = yield      




